.clas-1 {
    isolation: isolate;
    opacity: 0.25;
}

.svgColinas {
    width: 1000px;
    left: -17%;
    position: absolute;
    bottom: 12em;
}

@media only screen and (min-width: 800px) {
    .svgColinas {
        width: 117%;
    }
}

@media only screen and (min-width: 1300px) {
    .svgColinas {
        left: -17%;
        width: 117%;
    }
}