@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.backgroundImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -10000;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.search {
    z-index: -100;
    width: 100%;
    height: 5em;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divCards {
    margin-top: -1.15em;
    width: 100%;
    position: absolute;
    display: none;

    flex-direction: column;
    align-items: center;
}

.divCards.active3 {
    display: flex;
}

.searchInput {
    width: 12em;
    font-size: 1.8em;
    padding: 0.1em .9em 0.1em .9em;
    border: .05em solid #222;
    color: #f5f5f5;
}

.searchInput:focus {
    outline: none;
    border-radius: 0em;
    background-color: red;
}

.searchInput::placeholder {
    font-size: 0.6em;
    color: #777;
    text-justify: auto;
    transform: translateY(-.2em);
}

.searchInput.firstInput {
    background-color: #ddd;
    color: #222;
    caret-color: red;
    user-select: none;
}


.nameCity {
    position: absolute;
    top: 4em;
    width: min-content;
    right: 1em;
    font-weight: 900;
    font-size: 2em;
    text-align: end;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 5px #f5f5f5;
}

.mainBox {
    width: 12em;
    height: 14em;
    position: absolute;
    margin: 2em;
    top: 6em;
    border-radius: 2em;
    background-color: #0071c988;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBox.active2 {
    display: flex;
}

.mainBox img {
    width: 10em;
}

.mainBox h5 {
    font-size: 3em;
}

.boxBottom_container {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 12em;
    background: linear-gradient(to top, #000000, #0071c9cc);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.boxBottom {
    animation-name: carrussel;
    animation-timing-function: cubic-bezier(1, 1, 0, 0);
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transform: translateX(00%);
    width: 800vw;
    height: 12em;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.boxBottom.active {
    display: flex;

}

@keyframes carrussel {

    0%,
    100% {
        transform: translateX(0%)
    }

    50% {
        transform: translateX(-300%)
    }

}

@media only screen and (min-width: 700px) {

    .searchInput {
        width: 18em;
        font-size: 2em;
    }

    .divCards {
        margin-top: -1.05em;
    }

    .nameCity {
        position: absolute;
        top: 3em;
        right: 2em;
        font-weight: 700;
        width: calc(100vw - 7em);
        font-size: 3em;
        font-family: 'Roboto Slab', serif;
    }


}

@media only screen and (min-width: 1000px) {
    .boxBottom {
        transform: translateX(50vw);
        width: 200vw;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    @keyframes carrussel {

        0%,
        100% {
            transform: translateX(50vw)
        }

        50% {
            transform: translateX(-50vw)
        }
    }
}